<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOS-SpriteKit-TextureAtlasAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DAA04C1C1BCE1CF8001F2106</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAA04C3A1BCE1CF8001F2106</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAA04C451BCE1CF8001F2106</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
